<div class="container" ng-controller="mpgcontroller">

    <div class="col-md-2 vechinfo">
        <h2>Vehicle Info:</h2> <br>
        <ul>
            <li>VIN: 7678ghjgh8798h</li>
            <li>Make: Honda</li>
            <li>Model: Civic LX</li>
            <li>Engine: 1.7L</li>
        </ul>
    </div>

    <div class="col-md-2">
        <input ng-model="mileage"  placeholder="Mileage"  type="text" />
        <input ng-model="gallons" placeholder="Gallons" type="text" />


        <h2 class="h2inline">Average MPG:</h2>
        <h2 class="h2inline" ng-show="(mileage && gallons)"> {{mileage / gallons}} </h2>

    </div>
    <div class="col-md-1"><input class="btn btn-info" type="submit" ng-click="mpg(mileage, gallons)" value="Save" /></div>
    <div class="col-md-3">
        <h2>Average MPG</h2>
        <ul>
            <li ng-repeat=" avgMpg in mpgArray">{{avgMpg.mileage}}{{avgMpg.mpg}}</li>
        </ul>

    </div>
    <div class="col-md-3 api_info"></div>
</div>